<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/styles.css">

  <title>{{title}}</title>
</head>
<body>
    <img src="/img/ido2.jpg" class="portrait">

   {{>header}}
  
  <p><strong>Created by</strong> {{name}} </p>
  <p>As an exercise in node.js </p>
</body>
{{>footer}}
</html>